<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button data-inline="true" (click)="refresh()"
                type="button">
            <i class="material-icons">refresh</i>
        </button>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="col-md-12">
                      <div class="col-md-12">
                          <mat-form-field>
                              <input   matInput placeholder="Filter" >
                          </mat-form-field>
                      <div class="card ">
                          <div class="card-header card-header-success">
      
     
                              <button  class="btn btn-outline-primary " (click)="open()">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
                                      <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                                      <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                  </svg>
                                  ADD A NEW Tache
                              </button>
                          </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                <tr>
                  <th>Priorite</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Delai</th>
                  <th>Performance</th>
                  <th>Remarque</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tache of taches">
                  <td>{{ tache.priorite }}</td>
                  <td>{{ tache.description }}</td>
                  <td>{{ tache.status }}</td>
                  <td>{{ tache.delai }}</td>
                  <td>{{ tache.performance }}</td>
                  <td>{{ tache.remarque }}</td>
                  <td>

                    <button (click)="openup(tache)" type="button" class="btn btn-info">Modifier</button>

                    <button (click)="confirmBox(tache.id_tache,tache.description)"
                            class="btn btn-danger"
                    >Supprimer
                    </button>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>