<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
    <div class="container-fluid">
        <div class="logo">
            <a href="" class="">
                <div class="">
                    <img src="/assets/img/espritlogo.png"  width="260" height="75"/>
                </div>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/offre-user">Offre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/formation-user">Formation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/feedback">FeedBack</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <!-- Champ de saisie pour les mots-clés de recherche -->
  <input type="text" value=""  class="form-control" [(ngModel)]="keywords" placeholder="Search.." class="mb-2">
  <!-- Bouton de recherche -->
     <!-- Bouton de recherche -->
 <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="searchOffers(keywords)">
  <i class="material-icons">search</i>
  <div class="ripple-container"></div>
</button>
            </form>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Account</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</nav>
        <!-- Affichage des offres -->
        <div class="d-flex flex-wrap justify-content-center">
          <div *ngFor="let offre of Offres" class="card border border-danger mb-3 mr-3" style="max-width: 800px;">
            <div class="card-body custom-text-size">
                <h5 class="card-title text-dark custom-title text-red">{{ offre.titre }}</h5>
                <p class="card-text text-dark "><span class="new-title">Skills:</span>
                                                <span>{{ offre.skills }}</span></p>
                <p class="card-text text-dark "> <span class="new-title">Durée:</span>
                                                 <span>{{ offre.duree }}</span> </p>
                <p class="card-text text-dark"><span class="new-title">Description:</span>
                                               <span>{{offre.description  }}</span></p>
                                               <div class="d-flex justify-content-between align-items-center">
                                                <div class="localisation">
                                                  <p class="card-text text-dark "><i class="material-icons">location_on</i> Localisation:  <span>{{ offre.gouvernorat }}, {{ offre.ville }}, {{ offre.adresse }}</span></p>
                                                </div>
                                                <div class="date-ajout">
                                                  <p class="card-text text-dark ">{{ offre.dateAjout | date: 'medium' }}</p>
                                                </div>
                                              </div>
                                            </div>
            <div class="card-footer">
              <!-- Bouton Postuler -->
              <button class="btn custom-btn-color mr-2" >Postuler</button>
            </div>
  
          </div>
        </div>

  