
  .custom-card {
    border: 1px solid rgb(109, 2, 2); /* Bordure rouge */
  }
  .custom-width {
    max-width: 700px; /* ou toute autre largeur que vous souhaitez */
}
.custom-text-size {
    font-size:18px; /* ou toute autre taille de police que vous souhaitez */
}
.custom-text-color {
    color: rgb(122, 3, 13); /* ou toute autre couleur de texte que vous souhaitez */
}
.date-ajout {
  text-align: right; /* Aligner le texte à droite */
}
.custom-title {
  font-size: 18px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color: #800020; /* Couleur personnalisée */
}
.new-title {
  font-size: 14px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color: #000000; /* Couleur personnalisée */
}
.text-red {
  color: rgb(109, 1, 1) !important;;
}