.container {
    max-width: 700px; 
  }
  
  h2 {
    text-align: center; 
  }
  
  .form-control {
    border-radius: 0.25rem; 
  }
  
  .btn-primary {
    width: 100%; 
    margin-top: 20px; 
  }
  
  html, body {
    overflow-y: auto; /* Assurez-vous que le défilement est activé */
    height: 100%;     /* Ou min-height: 100vh; pour que la page prenne au minimum la hauteur de la fenêtre */
  }
  