<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card-body">
        <form [formGroup]="tacheForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Priorité du tache</mat-label>
                <input matInput type="number" placeholder="Priorité du tache" formControlName="priorite">
                <mat-error *ngIf="priorite.invalid && (priorite.dirty || priorite.touched)">
                  <div *ngIf="priorite.errors.required">Ce champ est requis</div>
                  <div *ngIf="priorite.errors.min">La valeur minimale est 0</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Description de tache</mat-label>
                <input matInput type="text" placeholder="Description de tache" formControlName="description">
                <mat-error *ngIf="description.invalid && (description.dirty || description.touched)">
                  <div *ngIf="description.errors.required">Ce champ est requis</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Status du tache</mat-label>
                <select matNativeControl formControlName="status">
                  <option value="Todo">Todo</option>
                  <option value="InProgress">InProgress</option>
                  <option value="Done">Done</option>
                </select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Delai</mat-label>
                <input matInput type="text" placeholder="Delai" formControlName="delai">
                <mat-error *ngIf="delai.invalid && (delai.dirty || delai.touched)">
                  <div *ngIf="delai.errors.required">Ce champ est requis</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Performance</mat-label>
                <input matInput type="text" placeholder="Performance" formControlName="performance">
                <mat-error *ngIf="performance.invalid && (performance.dirty || performance.touched)">
                  <div *ngIf="performance.errors.required">Ce champ est requis</div>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Remarque</mat-label>
                <input matInput type="text" placeholder="Remarque" formControlName="remarque">
                <mat-error *ngIf="remarque.invalid && (remarque.dirty || remarque.touched)">
                  <div *ngIf="remarque.errors.required">Ce champ est requis</div>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button mat-raised-button type="submit" [disabled]="tacheForm.invalid">Envoyer</button>
              <button mat-raised-button type="button" (click)="reloadComponent()">Annuler</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
