<p>adduser works!</p>
<div class="container">
    <h2>Add User</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" class="form-control" id="prenom" formControlName="prenom">
      </div>
      <div class="form-group">
        <label for="cin">CIN:</label>
        <input type="text" class="form-control" id="cin" formControlName="cin">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="mdp">Mot de passe:</label>
        <input type="password" class="form-control" id="mdp" formControlName="mdp">
      </div>
      <div class="form-group">
        <label for="niveau">Niveau:</label>
        <select class="form-control" id="niveau" formControlName="niveau">
          <option value="Premiere">Première</option>
          <option value="Deuxiemme">Deuxième</option>
          <option value="Troisiemme">Troisième</option>
          <option value="Quateriemme">Quatrième</option>
        </select>
      </div>
      <div class="form-group">
        <label for="specialite">Spécialité:</label>
        <select class="form-control" id="specialite" formControlName="specialite">
          <option value="IT">IT</option>
          <option value="TC">TC</option>
          <option value="GC">GC</option>
          <option value="GE">GE</option>
        </select>
      </div>
      <div class="form-group">
        <label for="role">Rôle:</label>
        <select class="form-control" id="role" formControlName="role">
          <option value="Esprit">Esprit</option>
          <option value="Enseignant">Enseignant</option>
          <option value="Encadrant">Encadrant</option>
          <option value="Entreprise">Entreprise</option>
          <option value="Etudiant">Etudiant</option>
        </select>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" formControlName="disponibilite"> Disponible
        </label>
      </div>
      <div class="form-group">
        <label for="image">Image:</label>
        <input type="text" class="form-control" id="image" formControlName="image">
      </div>
      <div class="form-group">
        <label for="chargeTravail">Charge de travail:</label>
        <input type="text" class="form-control" id="chargeTravail" formControlName="chargeTravail">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Ajouter Utilisateur</button>
    </form>
  </div>
  