<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
  <div class="container-fluid">
      <div class="logo">
          <a href="" class="">
              <div class="">
                  <img src="/assets/img/espritlogo.png"  width="260" height="75"/>
              </div>
          </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
          </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/afficher-offre">Offres</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/afficher-formation">Formations</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/afficher-feedback">FeedBack</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/list-etudiant">List Etudiant</a>
            </li>
          </ul>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
      </div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p>
                      <span class="d-lg-none d-md-block">Account</span>
                  </p>
              </a>
          </li>
      </ul>
  </div>
</nav>

<form class="container" [formGroup]="validateForm">
    <div class="card border-danger mx-auto mt-5" style="max-width: 500px;">
      <div class="card-body">
        <h5 class="card-title text-dark">Ajouter Formation</h5>
        <div class="mb-3">
          <label for="titre" class="form-label text-dark">Titre</label>
          <input type="text" class="form-control" id="titre" formControlName="titre" >
          <!-- Afficher le message d'erreur si le champ titre est invalide -->
          <div *ngIf="validateForm.get('titre')?.invalid && (validateForm.get('titre')?.dirty || validateForm.get('titre')?.touched)" class="text-danger">
            <div *ngIf="validateForm.get('titre')?.errors.required">Le titre est invalide .</div>
          </div>
        </div>
    
        <div class="mb-3">
          <label for="description" class="form-label text-dark">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description" >
          <!-- Afficher le message d'erreur si le champ description est invalide -->
          <div *ngIf="validateForm.get('description')?.invalid && (validateForm.get('description')?.dirty || validateForm.get('description')?.touched)" class="text-danger">
            <div *ngIf="validateForm.get('description')?.errors.required">La description est invalide.</div>
          </div>
        </div>
        
        <div class="mb-3">
          <label for="date_debut_formation" class="form-label text-dark">Date_Debut_Formation</label>
          <input type="date" class="form-control" id="date_debut_formation" formControlName="date_debut_formation">
          <!-- Afficher le message d'erreur si le champ description est invalide -->
          <div *ngIf="validateForm.get('date_debut_formation')?.invalid && (validateForm.get('date_debut_formation')?.dirty || validateForm.get('date_debut_formation')?.touched)" class="text-danger">
            <div *ngIf="validateForm.get('date_debut_formation')?.errors.required">date_debut_formation est invalide.</div>
          </div>
        </div>
              
        <div class="mb-3">
          <label for="date_fin_formation" class="form-label text-dark">Date_Fin_Formation</label>
          <input type="date" class="form-control" id="date_fin_formation" formControlName="date_fin_formation" >
          <!-- Afficher le message d'erreur si le champ description est invalide -->
          <div *ngIf="validateForm.get('date_fin_formation')?.invalid && (validateForm.get('date_fin_formation')?.dirty || validateForm.get('date_fin_formation')?.touched)" class="text-danger">
            <div *ngIf="validateForm.get('date_fin_formation')?.errors.required">date_fin_formation est invalide.</div>
          </div>
        </div>
    
        <button type="submit" class="btn btn-danger btn btn-primary float-left" (click)="addFormation()" [disabled]="!validateForm.valid" >Ajouter</button>
        <button type="submit" class="btn btn-danger btn btn-secondary float-right" routerLink="/afficher-formation">Annuler</button>
      </div>
    </div>
  </form>
  