<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="forum-container">
    <!-- Section pour l'ajout et la gestion d'un post -->
    <div class="post-management-container">
        <h2>Ajouter un post</h2>
        <div class="new-post-container">
            <input [(ngModel)]="newPost.titre" placeholder="Titre du post" class="input-field">
            <textarea [(ngModel)]="newPost.contenu" placeholder="Contenu du post" class="input-field"></textarea>
            <button class="btn publish-btn" (click)="addPost()" style="background-color: #800020; color: white;">Publier le post</button>
        </div>
    </div>

    <!-- Section de modification de post -->
    <div *ngIf="editPost" class="edit-post-actions">
        <h2>Modifier le post</h2>
        <input [(ngModel)]="editPost.titre" placeholder="Titre du post" class="input-field">
        <textarea [(ngModel)]="editPost.contenu" placeholder="Contenu du post" class="input-field"></textarea>
        <button class="btn save-btn" (click)="confirmEdit()" style="background-color: #800020; color: white;">Sauvegarder les changements</button>
        <button class="btn cancel-btn" (click)="cancelEdit()" style="background-color: #800020; color: white;">Annuler l'édition</button>
        <button class="btn delete-btn" (click)="deletePost(editPost.id_Post)"style="background-color: #800020; color: white;">Supprimer le post</button>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    </div>

    <!-- Liste des posts existants -->
    <div class="posts-container">
        <div *ngFor="let post of posts; let i = index" class="post-container">
            <span *ngIf="post.badge" class="badge">
                🎩 {{ post.badge }}
              </span>
              
              
            <div class="post-header">
                <h3>{{ post.titre }}</h3>
               
            </div>
            <div class="post-content">
                <p>{{ post.contenu }}</p>
            </div>

            <!-- Section unique pour les commentaires pour le post courant -->
            <div class="comments-container" *ngIf="post.commentaires && post.commentaires.length > 0">
                <div *ngFor="let commentaire of post.commentaires" class="comment-container">
                    <p>{{ commentaire.contenu }}</p>
                </div>
            </div>

            <div class="interaction-container">
                <!-- Like Icon -->
                <span (click)="onToggleInteraction(post.id_Post, 'Like')">
                    <i class="fa fa-thumbs-up like-icon"></i> <!-- FontAwesome Like icon -->
                    <span>{{ post.likeCount }}</span>
                </span>
            
                <!-- Dislike Icon -->
                <span (click)="onToggleInteraction(post.id_Post, 'Dislike')">
                    <i class="fa fa-thumbs-down dislike-icon"></i> <!-- FontAwesome Dislike icon -->
                    <span>{{ post.dislikeCount }}</span>
                </span>
            
                <!-- Love Icon -->
                <span (click)="onToggleInteraction(post.id_Post, 'Love')">
                    <i class="fa fa-heart love-icon"></i> <!-- FontAwesome Love icon -->
                    <span>{{ post.loveCount }}</span>
                </span>
            
                <!-- Interaction Message -->
                <div class="interaction-message" *ngIf="interactionMessage[post.id_Post]">
                    {{ interactionMessage[post.id_Post] }}
                </div>
            </div>
            <!-- Conteneur pour les boutons d'action -->
            <div class="actions-container">
                <input [(ngModel)]="newCommentContent[post.id_Post]" placeholder="Ajouter un commentaire..." class="input-field">
                <button class="btn comment-btn" (click)="addCommentairePost(post.id_Post, newCommentContent[post.id_Post])"style="background-color: #716c6e; color: white;">Commenter</button>
                <button class="btn action-btn" (click)="editPostInit(post)" style="background-color: #800020; color: white;">Modifier Post</button>
            </div>
        </div>
    </div>
</div>
