<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
  <div class="container-fluid">
      <div class="logo">
          <a href="" class="">
              <div class="">
                  <img src="/assets/img/espritlogo.png"  width="260" height="75"/>
              </div>
          </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/afficher-offre">Offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/afficher-formation">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/afficher-feedback">FeedBack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/list-etudiant">List Etudiant</a>
          </li>
        </ul>
    </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form class="navbar-form">
              <!-- Champ de saisie pour les mots-clés de recherche -->
<input type="text" value=""  class="form-control" placeholder="Search.." class="mb-2">
<!-- Bouton de recherche -->
   <!-- Bouton de recherche -->
<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
<i class="material-icons">search</i>
<div class="ripple-container"></div>
</button>
          </form>
      </div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p>
                      <span class="d-lg-none d-md-block">Account</span>
                  </p>
              </a>
          </li>
      </ul>
  </div>
</nav>
<div class="container-fluid d-flex justify-content-center align-items-center vh-300">
  <div class="card border-danger" style="max-width: 800px; overflow-y: auto; max-height:500px;">
    <div class="card-header bg-danger text-white">Ajouter une offre</div>
    <div class="card-body">
      <form (ngSubmit)="addOffre()" [formGroup]="offreForm">
        <div class="mb-3">
          <label for="titre" class="form-label">Titre</label>
          <input type="text" class="form-control" formControlName="titre" id="titre" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" formControlName="description" id="description" required>
        </div>
        <div class="mb-3">
          <label for="skills" class="form-label">Skills</label>
          <input type="text" class="form-control" formControlName="skills" id="skills" required>
        </div>
        <div class="mb-3">
          <label for="duree" class="form-label">Durée</label>
          <input type="text" class="form-control" formControlName="duree" id="duree" required>
        </div>
        <div class="mb-3">
          <label for="nom" class="form-label">Nom de Societé:</label>
          <input type="text" class="form-control" formControlName="nom" id="nom" required>
        </div>
        <div class="mb-3">
          <label for="gouvernorat" class="form-label">Gouvernorat:</label>
          <select formControlName="gouvernorat" (change)="onGovernorateChange()" class="form-select">
            <option value="" disabled selected>Choisissez un gouvernorat</option>
            <option *ngFor="let gouvernorat of gouvernorats" [value]="gouvernorat">{{ gouvernorat }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="ville" class="form-label">Ville:</label>
          <select formControlName="ville" id="ville" required class="form-select">
            <option value="" disabled selected>Choisissez une ville</option>
            <option *ngFor="let ville of filteredVilles" [value]="ville">{{ ville }}</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="adresse" class="form-label">Adresse</label>
          <input type="text" class="form-control" formControlName="adresse" id="adresse" required>
        </div>
        <button type="submit" class="btn btn-danger btn btn-primary float-right"  [disabled]="!offreForm.valid">Ajouter Offre</button>
        <button type="button" class="btn btn-danger btn btn-secondary float-left"  routerLink="/afficher-offre">Annuler</button>
      </form>
    </div>
  </div>
</div>