

<div class="alert alert-primary">
  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="material-icons">close</i>
  </button>
  <span>
      <div *ngIf="user">
          <p>Bienvenu</p>
          <p> {{user.nom}}</p>
          <p> {{user.identifiant}}</p>
         
        </div></span>
</div>
<div class="col-md-12">
  <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title ">  Liset des utilisateurs</h4>

          <button class="float: right;"mat-raised-button routerLink="/admin/ajouter-user">
  Ajouter
</button>
<mat-form-field>
  
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
</mat-form-field>
      </div>
      <div class="card-body">
          <div class="table-responsive   ">
              <table class="table ">
                  <thead class=" text-primary">
                      <th>
                          Identifiant
                      </th>
                      <th>
                          Nom
                      </th>
                      <th>
                          Prenom
                      </th>
                      <th>
                          Cin
                      </th>
                      <th>
                          Email
                      </th>
                      <!-- <th>
                          Password
                      </th> -->
                      <th>
                          Role
                      </th>
                      <th>
                          Niveau
                      </th>
                      <th>
                          Specialite
                      </th>
                      <th>
                          Action
                      </th>
                  </thead>
                  <tbody *ngFor="let utilisateurs of userss">
                   <tr >
                     <td>{{ utilisateurs.identifiant }}</td>
                     <td>{{ utilisateurs.nom }}</td>
                     <td>{{utilisateurs.prenom}}</td>
                     <td>{{utilisateurs.cin}}</td>
                     <td>{{utilisateurs.email}}</td>
                     <!-- <td>{{utilisateurs.password}}</td> -->
                     <td>{{utilisateurs.role}}</td>
                     <td>{{utilisateurs.niveau}}</td>
                     <td>{{utilisateurs.specialite}}</td>
                     <td>
                      <!-- Boutons Update et Delete -->
                      <button mat-raised-button type="button" (click)="updateUser(utilisateurs)" class="btn btn-success btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i></button>
                      <button mat-raised-button type="button" (click)="deleteUser(utilisateurs.idUser)" class="btn btn-success btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i></button>
                      <!-- class="btn btn-danger"
                      class="btn btn-success" -->
                  </td>
                   </tr>   
                   
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

