h2 {text-align: center;}
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tbody tr:hover {
    background-color: #ddd;
  }
  button {
    display: flex;
    border: none;
    border-radius: 5px; /* Adjust the radius as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #eef1f3; /* Button background color */
    color: #000000; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect */
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    background-color: #ac2424; /* Change background color on hover */
    color: #ffffff;
  }