
<h2>Application List</h2>

<div style="width: 80%; margin: auto;">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%;">ID</th>
        <th style="width: 25%;">Demande de Stage</th>
        <th style="width: 20%;">CV</th>
        <th style="width: 25%;">Lettre de Motivation</th>
        <th style="width: 20%;">État</th>
        <th style="width: 20%;">accepter application</th>
        <th style="width: 20%;">refuser application</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of applications">
        <td>{{ application.id_application }}</td>
        <td>{{ application.demandeDeStage }}</td>
        <td>{{ application.cv }}</td>
        <td>{{ application.lettreMotivation }}</td>
        <td>{{ application.etat }}</td>
        <td>
          <button (click)="acceptApplication(application.id_application)">Accepter</button> <!-- Button to accept application -->
        </td>
        <td>
          <button (click)="refuserApplication(application.id_application)">refuser</button> <!-- Button to accept application -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
