<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
  <div class="container-fluid">
      <div class="logo">
          <a href="" class="">
              <div class="">
                  <img src="/assets/img/espritlogo.png"  width="260" height="75"/>
              </div>
          </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/afficher-offre">Offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/afficher-formation">Formations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/afficher-feedback">FeedBack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/list-etudiant">List Etudiant</a>
          </li>
        </ul>
    </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form class="navbar-form">
              <!-- Champ de saisie pour les mots-clés de recherche -->
<input type="text" value=""  class="form-control" [(ngModel)]=" Keywords" placeholder="Search.." class="mb-2">
<!-- Bouton de recherche -->
   <!-- Bouton de recherche -->
<button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="searchOffers( Keywords)">
<i class="material-icons">search</i>
<div class="ripple-container"></div>
</button>
          </form>
      </div>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p>
                      <span class="d-lg-none d-md-block">Account</span>
                  </p>
              </a>
          </li>
      </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-danger"  routerLink="/ajouter-offre">Ajouter</button>
      <!-- Affichage des offres -->
      <div class="d-flex flex-wrap">
        <div *ngFor="let offre of offres" class="card border border-danger mb-3 mr-3" style="max-width: 500px;">
          <div class="card-body">
            <h5 class="card-title text-dark custom-title text-red">{{ offre.titre }}</h5>
            <p class="card-text text-dark "><span class="new-title">Skills:</span>
                                            <span>{{ offre.skills }}</span></p>
            <p class="card-text text-dark "> <span class="new-title">Durée:</span>
                                             <span>{{ offre.duree }}</span> </p>
            <p class="card-text text-dark"><span class="new-title">Description:</span>
                                           <span>{{offre.description  }}</span></p>
                                           <div class="d-flex justify-content-between align-items-center">
                                            <div class="localisation">
                                              <p class="card-text text-dark "><i class="material-icons">location_on</i> Localisation:  <span>{{ offre.gouvernorat }}, {{ offre.ville }}, {{ offre.adresse }}</span></p>
                                            </div>
                                            <div class="date-ajout">
                                              <p class="card-text text-dark ">{{ offre.dateAjout | date: 'medium' }}</p>
                                            </div>
                                          </div>
                                        </div>
          <div class="card-footer">
            <!-- Bouton Modifier -->
            <button class="btn btn-danger mr-2" (click)="modifyOffre(offre)">Modifier</button>
            <!-- Bouton Supprimer -->
            <button class="btn btn-danger" (click)="removeOffre(offre.id_offre)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Formulaire d'édition qui s'affiche lorsqu'une évaluation est sélectionnée -->
 <!-- Ajoutez une condition *ngIf pour afficher le formulaire uniquement si showModify est vrai -->
<div *ngIf="showModify">
  <h3>Modifier l'offre</h3>
  <form [formGroup]="editForm" (ngSubmit)="onUpdate()" class="mt-4">
    <div class="form-group">
      <label for="titre">Titre</label>
      <input type="text" id="titre" formControlName="titre" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" formControlName="description" rows="3" class="form-control"></textarea>
    </div>
    <!-- Utilisez la méthode onUpdate() pour soumettre le formulaire -->
    <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid" style="background-color: #800020; color: white;" (click)="onUpdate()">Mettre à jour</button>

  </form>
</div>
</div>
 