<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card border-danger" style="max-width: 500px;margin-bottom: 80px;">
    <div class="card-header bg-danger text-white">Profil</div>
    <div class="card-body">
      <form *ngIf="userProfileForm" [formGroup]="userProfileForm" (ngSubmit)="updateUserProfile()">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" formControlName="nom" required>
        </div>
        <!-- Ajoutez d'autres champs similaires -->
        <div class="form-group">
          <label for="role">Role</label>
          <select class="form-control" id="role" formControlName="role">
            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
          </select>
        </div>
        <!-- Ajoutez d'autres champs similaires -->
        <button type="submit" class="btn btn-danger btn-block" [disabled]="userProfileForm.invalid">Modifier</button>
      </form>
    </div>
  </div>
</div>
